* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #122315;
}
img {
  width: 98.9vw;
  position: relative;
}

.box {
  background-color: #f3ede4;
  position: absolute;
  border-radius: 1rem;
  font-family: "clash display";
  font-size: 2rem;
  box-shadow: -0.5rem 0.5rem #044728;
  padding: 1rem 1.25rem;
  top: 0;
}

#b1 {
  top: 28vh;
  left: 28vw;
}
#b2 {
  top: 69vh;
  left: 43vw;
}
#b3 {
  top: 109vh;
  left: 23vw;
}
#b4 {
  top: 154vh;
  left: 50vw;
}
#b5 {
  top: 204vh;
  left: 45vw;
}
#b6 {
  top: 235vh;
  left: 14vw;
}
#b7 {
  top: 274vh;
  left: 46vw;
}

@media (max-width: 1025px) {
  .box {
    font-size: 1.25rem;
    box-shadow: -0.25rem 0.25rem #044728;
    padding: 0.25rem 0.5rem;
  }
}

@media (max-width: 768px) {
  .box {
    font-size: 0.5rem;
    box-shadow: -0.25rem 0.25rem #044728;
    padding: 0.75rem 1rem;
  }
}


@media (max-width: 1440px) {
  #b1 {
    top: 24vh;
    left: 28vw;
  }
  #b2 {
    top: 62vh;
    left: 42vw;
  }
  #b3 {
    top: 97vh;
    left: 22vw;
  }
  #b4 {
    top: 138vh;
    left: 49vw;
  }
  #b5 {
    top: 182vh;
    left: 45vw;
  }
  #b6 {
    top: 210vh;
    left: 13vw;
  }
  #b7 {
    top: 245vh;
    left: 45vw;
  }
}

@media (max-width: 1025px) {
  #b1 {
    top: 22vh;
    left: 28vw;
  }
  #b2 {
    top: 54vh;
    left: 43vw;
  }
  #b3 {
    top: 84vh;
    left: 24vw;
  }
  #b4 {
    top: 117vh;
    left: 51vw;
  }
  #b5 {
    top: 156vh;
    left: 46vw;
  }
  #b6 {
    top: 180vh;
    left: 15vw;
  }
  #b7 {
    top: 210vh;
    left: 46vw;
  }
}

@media (max-width: 540px) {
  #b1 {
    top: 10vh;
    left: 28vw;
  }
  #b2 {
    top: 24vh;
    left: 43vw;
  }
  #b3 {
    top: 38vh;
    left: 27vw;
  }
  #b4 {
    top: 53vh;
    left: 55vw;
  }
  #b5 {
    top: 71vh;
    left: 51vw;
  }
  #b6 {
    top: 81vh;
    left: 19vw;
  }
  #b7 {
    top: 95vh;
    left: 46vw;
  }
}

@media (max-width: 426px) {
  #b1 {
    top: 9vh;
    left: 28vw;
  }
  #b2 {
    top: 22vh;
    left: 43vw;
  }
  #b3 {
    top: 34vh;
    left: 24vw;
  }
  #b4 {
    top: 49vh;
    left: 51vw;
  }
  #b5 {
    top: 65vh;
    left: 46vw;
  }
  #b6 {
    top: 75vh;
    left: 15vw;
  }
  #b7 {
    top: 87vh;
    left: 46vw;
  }
}

@media (max-width: 413px) {
  #b1 {
    top: 6vh;
    left: 28vw;
  }
  #b2 {
    top: 14vh;
    left: 43vw;
  }
  #b3 {
    top: 22vh;
    left: 24vw;
  }
  #b4 {
    top: 33vh;
    left: 50vw;
  }
  #b5 {
    top: 42vh;
    left: 46vw;
  }
  #b6 {
    top: 49vh;
    left: 13vw;
  }
  #b7 {
    top: 57vh;
    left: 46vw;
  }
}

@media (max-width: 391px) {
  #b1 {
    top: 6vh;
    left: 28vw;
  }
  #b2 {
    top: 15vh;
    left: 43vw;
  }
  #b3 {
    top: 23vh;
    left: 21vw;
  }
  #b4 {
    top: 33vh;
    left: 48vw;
  }
  #b5 {
    top: 43vh;
    left: 45vw;
  }
  #b6 {
    top: 50vh;
    left: 12vw;
  }
  #b7 {
    top: 58vh;
    left: 46vw;
  }
}

@media (max-width: 376px) {
  #b1 {
    top: 7vh;
    left: 28vw;
  }
  #b2 {
    top: 19vh;
    left: 43vw;
  }
  #b3 {
    top: 30vh;
    left: 20vw;
  }
  #b4 {
    top: 43vh;
    left: 46vw;
  }
  #b5 {
    top: 57vh;
    left: 42vw;
  }
  #b6 {
    top: 65vh;
    left: 10vw;
  }
  #b7 {
    top: 76vh;
    left: 46vw;
  }
}

@media (max-width: 320px) {
  #b1 {
    top: 6vh;
    left: 28vw;
  }
  #b2 {
    top: 16vh;
    left: 43vw;
  }
  #b3 {
    top: 25vh;
    left: 17vw;
  }
  #b4 {
    top: 36vh;
    left: 44vw;
  }
  #b5 {
    top: 48vh;
    left: 40vw;
  }
  #b6 {
    top: 56vh;
    left: 8vw;
  }
  #b7 {
    top: 65vh;
    left: 46vw;
  }
}

