

#contactus {
    overflow-x: hidden;
    background-color: #0f3b00;
    color: white;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #flexrow {
    font-family: "Clash Display", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  #getintouch {
    color: greenyellow;
    width: 50vw;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #numbers {
    padding: 10px;
  
    width: 30vw;
    border: 2px solid greenyellow;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items:normal;
    justify-content: space-around;
  }

  
.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 95vw;
  }
  
  .social-links span {
    display: flex; 
    align-items:center; 
    justify-content:space-evenly;
  }
  
  .social-links span hr {
    width: 60vw;
    margin: 0 10px;
    color: greenyellow;
  }
  
  .social-links span  b{
    font-family: 'Clash Display', sans-serif; 
    font-size: 16px;
    font-weight: 400;
  }
  
  @media screen and (max-width: 768px) {
  #flexrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #getintouch {
    width: 70vw;
    text-align: center;
    font-size: x-large;
  }

  #numbers {
    width: 40vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
  @media screen and (max-width: 1000px) {
  
    .social-links span hr {
      width: 40vw;
    }
    }
    